*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Poppins;
    background-color: black;
    color: white;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* cars detail left side */
.content1{
    width: 50%;
}
.content1 img{
    width: 80%;
}
/* cars detail right side */
.content2{
    width: 50%;
    height: 528px;
    background: white; 
    border-radius: 15px;
    box-shadow: 4px 4px 30px rgba(255,255,255,0.06);
    padding: 20px;
    overflow-y: scroll;
    color: black;
}
.content2::-webkit-scrollbar{
    display: none;
}
.content2 form{
    width: 100%;
    border: 1px solid rgb(82, 74, 235);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content2 form input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}
/* item in search container */
.item-suggess{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
    border: 1px solid #110f29 ;
    border-radius: 5px;
    margin-bottom: 5px;
}
.item-suggess img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px; 
}
.item-suggess .car-detail {
    padding-left: 15px;
}

.item-suggess .car-detail p{
    font-size: 20px;
    color: #1d1d1d;
}.item-suggess .car-detail .price{
    font-size: 18px;
}
/* search bar */
#search-container {
    margin: 1em 0;
    display: flex;
    justify-content: center;
  }
#search-container input {
    background-color: transparent;
    width: 100%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
    color: black;
  }
#search-container input:focus {
    border-bottom-color: black;
  }
#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: black;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
}
